* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

$light: #f5f5f5;
$white: #ffffff;
$dark: #1f2d4b;
$gray: #9a9595;
$light-blue: #31c2f7;

nav {
  background: linear-gradient(90deg, #30c6f7 7.26%, #4f75ff 92.88%);
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-weight: 400;
        font-size: 16px;
        color: $light;
      }
      .active {
        font-weight: 500;
        font-size: 16px;
        color: $white;
      }
    }
  }
}

.page-title {
  padding-top: 70px;
  background: linear-gradient(97.52deg, #30c6f7 11.89%, #4f75ff 86.21%);
  .tag {
    font-weight: 600;
    font-size: 46px;
    margin-bottom: 12px;
    color: $white;
  }
  .desc {
    font-weight: 400;
    font-size: 20px;
    max-width: 585px;
    margin: auto;
    color: $light;
    margin-bottom: 46px;
  }
  .wave {
    .wave-effect {
      width: 100%;
    }
  }
}

.team-section {
  padding: 64px 0px;
  background-color: $white;
  .profile-picture {
    max-width: 458px;
  }
  .name {
    font-weight: 500;
    font-size: 38px;
    color: $dark;
    margin-bottom: 4px;
  }
  .about {
    font-weight: 400;
    font-size: 18px;
    color: $gray;
    margin-bottom: 0;
  }
}

footer {
  background: linear-gradient(180deg, #30c6f7 6.98%, #3e68d7 75.44%);
  .second-wave {
    width: 100%;
  }
  .col-md-4 {
    display: flex;
    align-items: center;
    flex-direction: column;
    .logo {
      width: 195px;
    }
    .desc {
      font-weight: 400;
      font-size: 16px;
      color: $light;
      max-width: 360px;
    }
    .title {
      font-weight: 500;
      font-size: 16px;
      color: $white;
    }
    .link {
      text-decoration: none;
      color: $light;
      font-weight: 400;
      font-size: 16px;
    }
  }
  .footer-bottom {
    padding: 30px 0px;
    border-top: 1px solid #b6d3f8;
    p {
      font-weight: 400;
      font-size: 16px;
      color: $light;
      margin-bottom: 0;
    }
  }
}

@media (max-width: 991.98px) {
  .page-title {
    .tag {
      font-size: 32px;
    }
    .desc {
      font-size: 18px;
    }
  }

  main {
    .team-section {
      padding: 64px 0px;
      .profile-picture {
        width: 100%;
        margin-bottom: 30px;
      }
      .name {
        font-size: 26px;
      }
      .about {
        font-size: 16px;
      }
    }
  }
}

footer {
  .col-md-4 {
    display: block !important;
  }
  .footer-link {
    margin-bottom: 36px;
  }
}
